brain-dump.txt

# PhpStorm
.idea/
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php

# VSC
.vscode/

# General
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.well-known/
*.sublime-*

# Node / npm / yarn
/node_modules
npm-debug.log
yarn-error.log

# Laravel / App
.env
.env.backup
/public/hot
/public/storage
/public/build
/public/js
/public/css
/public/fonts
/public/images
/public/mix-manifest.json
/storage/*.key
!/bootstrap/cache/livewire-components.php
# Composer
.phpunit.result.cache
/vendor
auth.json

# Homestead
Homestead.json
Homestead.yaml
.vagrant/
